<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/userCenter.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container">
    	<div class="box user_box">
        	<div class="head"><img src="{:ADDON_PUBLIC_PATH}/head.jpg"/></div>
            <p><strong>刘备</strong></p>
            <p><span>GID:</span> 123456</p>
            <p><span>部门:</span> 军事主治</p>
            <a class="edit" href="#" title="编辑"><img src="__IMG__/m/icon_pencil.png" width="30" width="30"/></a>
        </div>
        <div class="box">
        	<h6>用户总积分:3000</h6>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">班级积分</span>
                <span class="td count">120</span>
                <span class="td to">查看详情&gt; </a>
            </a>
        </div>
        <div class="box">
        	<h6>参加过的投票</h6>
            <a class="item" href="#">
            	<span class="td title">WeiPHP发展现状</span>
                <span class="td count">&nbsp;</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">WeiPHP发展现状</span>
                <span class="td count">>&nbsp;</span>
                <span class="td to">查看详情&gt; </a>
            </a>
        </div>
        <div class="box">
        	<h6>参加的抽奖</h6>
            <a class="item" href="#">
            	<span class="td title">幸运大抽奖</span>
                <span class="td count">&nbsp;</span>
                <span class="td to">查看详情&gt; </a>
            </a>
            <a class="item" href="#">
            	<span class="td title">幸运大抽奖</span>
                <span class="td count">>&nbsp;</span>
                <span class="td to">查看详情&gt; </a>
            </a>
        </div>
        <!--
        <div class="unbind">
        	<p>你还没绑定用户信息！</p>
            <p><a class="btn" href="#">马上去绑定</a></p>
        </div>
        -->
    </div>
</body>
</html>
