<include file="Public/mobile_head"/>	
<body>
	<div id="container" class="container body">
            <div class="top_relative">
            <notempty name="forms.cover"><img src="{$forms.cover}"/></notempty>
            <p>{$forms.title}</p>
            </div>
    	<div class="block_content_bg p_10 m_10" style="background-size:20px 20px; background-repeat:no-repeat; background-position:right center;">
        	{$forms.content}
        </div>
        <div class="tb">
        	<a href="javascript:;" onClick="history.go(-1);" class="btn-return m_10 flex_1">返回</a>
        </div>
  </div>
</body>
</html>
