<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div class="container body">
        <h5 class="page_title top_line">积分兑换</h5>
    	<ul class="toggle_list" style="margin-top:50px">
        	<li class="single_item m_15 p_10 toggle_list_open">
            	<div class="title icon_arrow_right">
                	<img width="30" class="v_align mr_10 fl" src="__IMG__/m/pic_money.png"/>
                	<p>
                    	<strong>还有500积分，请尽快兑换</strong><br/>
                    	<span class="colorless">有效期至2014-12-12</span>
                    </p>
                    
                </div>
                <div class="content">
                	<p>小屈家会员卡5岁生日到啦~3月20日会员5倍积分升级,仅限一天(100积分可抵扣25元)!每张会员卡最多限用100积分,超出100积分部分,每1分按原有0.05元抵扣。还有会员5周年精选产品,加5元多1件!赶紧准备好会员卡</p>
                </div>
            </li>
            <li class="single_item m_15 p_10">
            	<div class="title icon_arrow_right">
                	<img width="30" class="v_align mr_10 fl" src="__IMG__/m/pic_money.png"/>
                	<p>
                    	<strong>愚人节积分兑换</strong><br/>
                    	<span class="colorless">有效期至2014-4-4</span>
                    </p>
                </div>
                <div class="content">
                	<p>小屈家会员卡5岁生日到啦~3月20日会员5倍积分升级,仅限一天(100积分可抵扣25元)!每张会员卡最多限用100积分,超出100积分部分,每1分按原有0.05元抵扣。还有会员5周年精选产品,加5元多1件!赶紧准备好会员卡</p>
                </div>
            </li>
            
        </ul>
    	
        <p class="copyright">2014&copy;WeiPHP</p>
    </div>
</body>
</html>
