<!DOCTYPE HTML>
<html>
<head>
	<include file="Public/head"/>
</head>
<body id="login_body" <php>if(C('LOGIN_BACKGROUP')) {</php> style="background:#fff url('{:C('LOGIN_BACKGROUP')}') repeat center center" <php> } </php> >
	<!-- 主体 -->
    <php>
    $m = strtolower(MODULE_NAME);
    $c = strtolower(CONTROLLER_NAME);
    $a = strtolower(ACTION_NAME);
    
    $ad = ucfirst ( parse_name ( $_REQUEST['_addons'], 1 ) );
    $navClass[$ad] = 'active';
    $navClass[$m.'_'.$c.'_'.$a] = 'active';
    $addonList = D ( 'Addons' )->getWeixinList (false, array(), true);
    </php>
	<block name="body"></block>
	<!-- /主体 -->

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->
</body>
</html>
