/*
	diy by jacy
*/
/* show template */
.col_2{ width:100%; min-height:200px; clear:both; overflow:hidden; zoom:1}
.col_2 .col_2_item{ min-height:200px;width:49%;}
.layout_item{ display:block; min-height:200px; position:relative;}
.layout_row{ display:block; min-height:200px; margin-bottom:10px; position:relative}
/* picture simple */
.picture_simple{ width:100%; position:relative}
.picture_simple img{ width:100%; max-height:300px;}
.picture_simple .title{ position:absolute; width:100%; left:0; bottom:0; background-color:RGBA(0,0,0,.4); color:#fff; padding:10px;}
/* picture mult */
.picture_mult{}
.picture_mult li{ float:left;}
.picture_mult li img{ width:33.3%;}
/* picture slideshow */
.banner{ width:100%; overflow:hidden; position:relative;}
.banner ul{ position:absolute; left:0; top:0; z-index:10; -webkit-animation:}
.banner ul li{ float:left; display:table-cell; position:relative}
.banner li a{ width:100%; height:100%; display:block;}
.banner li .title{background-color:RGBA(0,0,0,.5); height:30px; color:#fff; line-height:30px; padding-left:10px; position:absolute; left:0; bottom:0; width:100%; z-index:1000;}
.identify{text-align:center; position:absolute; bottom:0; right:0; z-index:100; height:30px;}
.identify em{ display:inline-block; margin:10px;-webkit-border-radius: 6px;-moz-border-radius: 6px;
border-radius: 6px;margin-left: 5px;width: 12px;height: 12px;background: #fff;}
.identify em.cur{ background-color:#090}