<include file="Public/mobile_head"/>	
<link href="{:ADDON_PUBLIC_PATH}/card.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">

<body>
	<div id="container" class="container body">
        <h5 class="page_title top_line">最新通知</h5>
    	<ul class="toggle_list" style="margin-top:50px">
        <volist name='list' id="vo">
        	<li class="single_item m_15 p_10">
            	<div class="title icon_arrow_right">
                	<img width="30" class="fl mr_10" src="__IMG__/m/pic_card.png"/>
                	<p><strong>{$vo.title}</strong></p>
                </div>
                <div class="content">
                <p>发布时间：{$vo.cTime|time_format}</p>
                	<p>{$vo.content|htmlspecialchars_decode}</p>
                </div>
            </li>
            </volist>
        </ul>   	
        <if condition="empty($list)" >
        	<div class="empty_default">
            	<p><img src="{:ADDON_PUBLIC_PATH}/vip_card_gray.png"/><br/>会员卡目前还没通知~</p>
            </div>
        </if>
        <p class="copyright">{$system_copy_right}</p>
        <nav class="bottom_nav">
            <a class="icon_card" href="{:addons_url('Card://Card/showCard')}">会员卡</a>
        <!--        <a class="icon_crown" href="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/introduction')}">特权</a>-->
            <a class="icon_time cur" href="{:addons_url('Card://notice/show')}">最新通知</a>
            <a class="icon_tag" href="{:addons_url('Card://coupons/show')}">优惠券</a>
        <!--        <a class="icon_gift" href="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/exchange')}">兑换</a>
            <a class="icon_time" href="{:addons_url($_REQUEST ['_addons'].'://'.$_REQUEST ['_controller'].'/score')}">签到</a>-->
        </nav>
        <div class="bottom_nav_blank"></div>       
    </div>
</body>
<script type="text/javascript">
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	WeixinJSBridge.call('hideToolbar');
});
</script>
</html>
